.ie7 .main-top__title, .ie8 .main-top__title { background: #13417a; }
.ie7 .main-top__title i, .ie8 .main-top__title i { border-color: transparent transparent transparent #13417a; }
.ie7 .main-top__comm, .ie7 .agenda__meta, .ie8 .main-top__comm, .ie8 .agenda__meta { background: #8a161e; }
.ie7 .search-form input, .ie8 .search-form input { line-height: 23px; }
.ie7 .main-author__top, .ie7 .main-author__comm, .ie8 .main-author__top, .ie8 .main-author__comm { background: #8a161e; }
.ie7 .aside-report, .ie7 .aside-position__desc, .ie8 .aside-report, .ie8 .aside-position__desc { background: #0259ad; }
.ie7 .top-opinions__info, .ie8 .top-opinions__info { background: #79080d; }
.ie7 .main-events .h2 i, .ie8 .main-events .h2 i { top: 14px; }
.ie7 .main-events__list, .ie8 .main-events__list { background: url(../img/events-bg-ie.jpg); }
.ie7 .main-events__list li.disabled .cr__ins, .ie8 .main-events__list li.disabled .cr__ins { background: #656565; }
.ie7 .cr__ins, .ie8 .cr__ins { background: #b91111; }
.ie7 .theme, .ie7 .block-all, .ie8 .theme, .ie8 .block-all { background: #0259ad; }
.ie7 .add-comm__btn, .ie7 .theme_red, .ie8 .add-comm__btn, .ie8 .theme_red { background: #d42828; }
.ie7 .popup__title, .ie8 .popup__title { background: #15567d; }
.ie7 .enter__fields input, .ie8 .enter__fields input { line-height: 30px; }
.ie7 .add-comm__theme, .ie8 .add-comm__theme { line-height: 24px; }
.ie7 .expert__opinions p, .ie8 .expert__opinions p { background: #3e3e3e; }
