.aside-report, .aside-position__desc, .theme { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNTlhZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA5M2Q3NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0259ad), color-stop(100%, #093d76)); background: -webkit-linear-gradient(#0259ad, #093d76); background: -moz-linear-gradient(#0259ad, #093d76); background: -o-linear-gradient(#0259ad, #093d76); background: linear-gradient(#0259ad, #093d76); }

.theme_red { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyMDkwOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc5MDgwZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a20909), color-stop(100%, #79080d)); background: -webkit-linear-gradient(#a20909, #79080d); background: -moz-linear-gradient(#a20909, #79080d); background: -o-linear-gradient(#a20909, #79080d); background: linear-gradient(#a20909, #79080d); }

.aside-report { position: relative; margin-bottom: 21px; padding: 25px 20px 0 20px; border-radius: 3px; z-index: 5; }

.aside-report__detail { overflow: hidden; }
.aside-report__detail img { float: left; margin: 20px 25px 33px 0; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px; }
.aside-report__detail p { overflow: hidden; color: white; }
.aside-report__detail p span { display: block; margin-bottom: 5px; font-size: 11px; }
.aside-report__detail p a { font-size: 24px; font-weight: bold; line-height: 1.2; color: white; }

.aside-report__more { height: 50px; border-top: 1px solid #366496; line-height: 50px; }
.aside-report__more a { font-size: 11px; color: white; text-transform: uppercase; }

.aside-position { position: relative; margin-bottom: 28px; padding: 0 20px 30px 20px; background: white; border-radius: 3px; z-index: 5; }

.aside-position__item { padding-top: 18px; }

.aside-position__detail { padding: 13px 12px 20px 12px; box-shadow: rgba(0, 0, 0, 0.25) 0 0 6px; }
.aside-position__detail img { float: left; margin-right: 18px; }
.aside-position__detail p { overflow: hidden; }
.aside-position__detail p a { font-size: 16px; color: #7c090d; font-weight: bold; line-height: 1.2; }
.aside-position__detail p span { display: block; margin-bottom: 7px; }
.aside-position__detail p span a { font-family: Georgia, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 13px; color: black; }

.aside-position__desc { position: relative; padding: 17px 12px; border-radius: 3px; font-size: 13px; color: white; line-height: 1.1; font-weight: bold; }
.aside-position__desc i { position: absolute; top: 0; left: 35px; width: 0px; height: 0px; border-style: solid; border-width: 12px 7px 0 7px; border-color: white transparent transparent transparent; }

.theme-list { background: #eaeaea; }
.theme-list .theme { margin-bottom: 1px; }
.theme-list .theme__desc p { margin-bottom: 14px; }

.theme { position: relative; padding: 15px 20px; margin: 0 -1px; border-radius: 3px; overflow: hidden; z-index: 5; }

.theme_red .theme__comm a, .theme_content .theme__comm a { color: white; }
.theme_red .theme__comm i, .theme_content .theme__comm i { background: url('../img/icons-s13615a3bb3.png') 0 -350px no-repeat; width: 34px; height: 28px; }

.theme_red .theme__comm { border-color: #b85858; }
.theme_red .theme__desc .h1 { padding: 5px 0; font-size: 36px; }
.theme_red .theme__desc p { color: white; }

.theme_content .theme__desc { padding-right: 20px; overflow: hidden; }
.theme_content .theme__desc .h1 { padding: 10px 0 5px 0; }
.theme_content .theme__comm { border-color: #5085b9; }

.theme__desc .h1 { padding: 5px 0 10px 0; line-height: 1; }
.theme__desc a { color: white; }
.theme__desc p, .theme__desc span { font-size: 12px; color: #a2b7d8; }
.theme__desc p { line-height: 1.3; }

.theme__pic { float: left; margin: 7px 40px 7px 0; }
.theme__pic img { display: block; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px; }

.theme__read { position: absolute; right: 20px; bottom: 20px; font-size: 14px; color: white; }

.pagination { margin: -1px 0 50px 0; padding: 28px 0 34px; background: #fdfdfd; border-radius: 0 0 3px 3px; text-align: center; font-size: 0; }
.pagination a { display: inline-block; padding: 0 7px; vertical-align: middle; font-size: 12px; color: black; font-weight: bold; }
.pagination a.active { color: #676767; }
.pagination .pagination__prev, .pagination .pagination__next { padding: 0; }
.pagination .pagination__prev.disabled, .pagination .pagination__next.disabled { cursor: default; }
.pagination .pagination__prev { margin-right: 14px; background: url('../img/icons-s13615a3bb3.png') 0 -755px no-repeat; width: 14px; height: 16px; }
.pagination .pagination__prev.disabled { background: url('../img/icons-s13615a3bb3.png') 0 -781px no-repeat; width: 14px; height: 16px; }
.pagination .pagination__next { margin-left: 14px; background: url('../img/icons-s13615a3bb3.png') 0 -829px no-repeat; width: 14px; height: 16px; }
.pagination .pagination__next.disabled { background: url('../img/icons-s13615a3bb3.png') 0 -729px no-repeat; width: 14px; height: 16px; }

.pagination_mod { margin-bottom: 28px; background: white; }

.actual { margin-bottom: 28px; padding: 20px; background: #ececec; border-radius: 0 0 3px 3px; overflow: hidden; }
.actual li { float: left; width: 149px; margin-left: 13px; }
.actual li:first-child { margin: 0; }
.actual img { display: block; margin-bottom: 10px; }
.actual a { font-size: 14px; color: #04509c; font-weight: bold; line-height: 1.2; }

.actual__comm { margin-top: 7px; }
.actual__comm a { position: relative; padding-left: 28px; color: #910d0d; }
.actual__comm i { position: absolute; top: 0; left: 0; background: url('../img/icons-s13615a3bb3.png') 0 -484px no-repeat; width: 23px; height: 19px; }

.story { padding: 16px 20px; background: #fdfdfd; }

.story__item { margin-bottom: 30px; }

.story__item_mod { padding-top: 30px; border-top: 1px solid #b2b2b2; }

.story__pic { margin-bottom: 12px; }
.story__pic img { display: block; }

.story__detail { margin-bottom: 20px; overflow: hidden; }

.story__comm, .theme__comm { float: right; height: 73px; padding: 0 22px 0 20px; border-left: 1px solid #b2b2b2; line-height: 73px; }
.story__comm a, .theme__comm a { position: relative; padding-left: 40px; font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif; font-size: 22px; color: #a30909; }
.story__comm i, .theme__comm i { position: absolute; top: 6px; left: 0; background: url('../img/icons-s13615a3bb3.png') 0 -312px no-repeat; width: 34px; height: 28px; }

.story__info { margin-right: 15px; overflow: hidden; }
.story__info span { font-size: 12px; color: #413f3f; }
.story__info .h1 { margin-top: 3px; font-size: 30px; }
.story__info .h1 a { color: black; }

.story__desc { margin-bottom: 20px; }
.story__desc p { font-size: 14px; color: #3f3d3d; line-height: 1.5; }
.story__desc a { color: #0259ad; }

.story__opinions strong { display: block; margin-bottom: 15px; font-size: 12px; text-transform: uppercase; }
.story__opinions ul { overflow: hidden; }
.story__opinions li { float: left; margin-right: 3px; line-height: 0.8; }
.story__opinions .story__user { width: 106px; margin: 0 0 10px 0; }
.story__opinions .story__user img { display: block; }
.story__opinions .story__user a { float: right; width: 75px; padding-top: 1px; line-height: 1.2; }
.story__opinions .story__user a:first-child { float: left; width: 26px; padding: 0; }
.story__opinions a { font-size: 10px; font-weight: bold; color: #a30909; }

.content { padding: 25px 40px; background: white; }
.content p { margin-bottom: 20px; font-size: 14px; color: #3f3d3d; line-height: 1.5; }
.content a { color: #0259ad; }

.content_mod { padding: 20px; }
.content_mod img { float: left; margin: 0 10px 10px 0; }

.share { margin-bottom: 28px; padding: 17px 0 14px 40px; background: #ececec; box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px -5px inset; border-radius: 0 0 3px 3px; }
.share ul { height: 35px; overflow: hidden; }
.share li { float: left; height: 35px; border-left: 1px solid #bdbdbd; }
.share li:first-child { border: none; }

.share_mod { background: white; box-shadow: none; }

.share__all { padding: 3px 27px 0 0; }

.share__vk { padding: 4px 25px 0 25px; }

.share__gg, .share__tw { padding: 6px 25px 0 25px; }

.aside-agenda { position: relative; padding: 20px 20px 10px 20px; border-radius: 3px; background: white; z-index: 5; }
.aside-agenda li { margin-bottom: 20px; }
.aside-agenda li img { display: block; margin-bottom: 12px; }
.aside-agenda li span { display: block; margin-bottom: 5px; font-size: 11px; color: #5f5e5e; }
.aside-agenda li a { font-size: 14px; color: #0b4784; line-height: 1.1; }

.aside-expert { position: relative; padding: 25px 20px 20px 20px; border-radius: 3px; background: white; text-align: center; z-index: 5; }
.aside-expert a { font-size: 21px; color: #870c0c; font-weight: bold; }
.aside-expert p { margin-top: 15px; font-size: 12px; color: #282828; line-height: 1.2; }

.aside-expert__pic { margin-bottom: 15px; }

.expert { padding: 18px 20px 22px 20px; background: white; overflow: hidden; }
.expert img { float: left; margin: 0 15px 0 0; }
.expert p { font-size: 14px; color: #3f3d3d; line-height: 1.4; }
.expert .expert__desc { margin-bottom: 20px; font-weight: bold; }

.expert__title { height: 9px; margin: 25px 0 30px 0; border-bottom: 1px solid #b2b2b2; text-align: center; }
.expert__title strong { display: inline-block; padding: 0 60px; background: white; font-size: 18px; }

.expert__opinions { margin: 0 -7px; font-size: 0; }
.expert__opinions li { display: inline-block; width: 203px; padding: 0 7px; margin-bottom: 25px; vertical-align: top; }
.expert__opinions p { position: relative; height: 107px; margin-bottom: 18px; padding: 6px 6px 7px 6px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlM2UzZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #3e3e3e)); background: -webkit-linear-gradient(#555555, #3e3e3e); background: -moz-linear-gradient(#555555, #3e3e3e); background: -o-linear-gradient(#555555, #3e3e3e); background: linear-gradient(#555555, #3e3e3e); line-height: 107px; }
.expert__opinions strong { display: block; height: 107px; padding: 0 9px; background: white; }
.expert__opinions span { display: inline-block; vertical-align: middle; font-size: 15px; line-height: 1.2; }
.expert__opinions i { position: absolute; bottom: -12px; left: 18px; width: 0px; height: 0px; border-style: solid; border-width: 14px 8px 0 8px; border-color: #3e3e3e transparent transparent transparent; }
.expert__opinions a { display: block; padding-right: 20px; font-size: 11px; color: #04509c; line-height: 1.2; }

.experts { padding: 20px; background: white; }

.experts__sort { margin-bottom: 35px; padding-bottom: 10px; border-bottom: 1px solid #a1a1a1; overflow: hidden; font-size: 14px; text-align: right; font-size: 0; }
.experts__sort a { display: inline-block; margin-left: 7px; font-weight: bold; font-size: 14px; color: #0d509a; }
.experts__sort a:first-child { float: left; margin: 0; }
.experts__sort a.active { color: black; }

.experts__list { font-size: 0; }
.experts__list li { display: inline-block; width: 130px; margin: 0 29px 25px 0; vertical-align: top; }
.experts__list img { display: block; margin-bottom: 13px; }
.experts__list a { font-size: 14px; font-weight: bold; color: black; }
.experts__list p { margin-top: 7px; font-size: 11px; line-height: 1.2; color: #949494; }

.post { padding: 0 20px; background: white; }

.post__item { padding: 30px 0 15px 0; border-top: 1px solid #d4d3d3; overflow: hidden; }
.post__item p { font-size: 16px; color: black; }

.post__item_mod { padding: 20px 0; }

.post__detail { overflow: hidden; }

.post__pic { float: left; margin-right: 20px; }
.post__pic img { display: block; }

.post__meta { margin-bottom: 3px; overflow: hidden; }
.post__meta a { float: left; font-size: 21px; font-weight: bold; color: black; }
.post__meta strong { float: right; margin-top: 3px; font-weight: normal; font-size: 12px; color: #838383; }
.post__meta span { color: black; }

.post__work { margin-bottom: 15px; padding-right: 200px; font-style: italic; font-size: 12px; line-height: 1.1; color: #595959; }

.post__desc p, .post__desc blockquote { margin-bottom: 20px; font-size: 16px; line-height: 1.5; }
.post__desc blockquote { color: #a30909; }

.post__more a { font-size: 16px; font-weight: bold; color: #0b437d; }

.post__bottom { position: relative; padding: 55px 0 55px 150px; overflow: hidden; }

.post__rating { float: left; background: #e3e3e3; border-radius: 3px; overflow: hidden; }
.post__rating button, .post__rating strong { float: left; }
.post__rating strong { height: 27px; padding: 0 15px; background: #ececec; box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px; line-height: 27px; font-family: "Open Sans Condensed", Arial, Tahoma, sans-serif; font-size: 21px; color: #3e3c3c; }

.post__minus { background: url('../img/icons-s13615a3bb3.png') 0 -919px no-repeat; width: 29px; height: 27px; }

.post__plus { background: url('../img/icons-s13615a3bb3.png') 0 -855px no-repeat; width: 29px; height: 27px; }

.post__comm { float: right; height: 27px; line-height: 27px; }
.post__comm button, .post__comm span { float: left; }
.post__comm button { height: 27px; line-height: 27px; background: none; font-size: 16px; font-weight: bold; }
.post__comm span { position: relative; padding-left: 37px; margin-left: 17px; border-left: 1px solid #8b8a8a; }
.post__comm i { position: absolute; top: 5px; left: 10px; background: url('../img/icons-s13615a3bb3.png') 0 -484px no-repeat; width: 23px; height: 19px; }

.comm { background: #e3e3e3; }

.comm__list { position: relative; padding: 40px 20px; box-shadow: rgba(0, 0, 0, 0.5) 0 9px 20px -10px inset; z-index: 5; }
.comm__list li { margin-top: 70px; overflow: hidden; }
.comm__list li:first-child { margin: 0; }

.comm__arr { position: absolute; top: -20px; right: 180px; background: url('../img/icons-s13615a3bb3.png') 0 -388px no-repeat; width: 22px; height: 20px; }

.comm__pic { float: left; margin-right: 20px; }
.comm__pic img { display: block; }

.comm__detail { overflow: hidden; }

.comm__name { margin-bottom: 15px; overflow: hidden; }
.comm__name a { float: left; font-size: 14px; font-weight: bold; color: black; }
.comm__name span { float: right; font-size: 12px; color: #959595; }

.comm__txt { font-size: 14px; }
.comm__txt p { margin-bottom: 20px; color: #3c3b3b; line-height: 1.5; }
.comm__txt a { font-weight: bold; color: #9d1010; }

.add-comm { padding: 25px 20px 95px 20px; border-top: 1px solid #b1b0b0; overflow: hidden; }

.add-comm__pic { float: left; width: 130px; margin-right: 20px; text-align: center; }
.add-comm__pic img { margin: 18px 0 7px 0; }
.add-comm__pic a { font-size: 14px; font-weight: bold; color: black; }

.add-comm__form { overflow: hidden; }
.add-comm__form label { display: block; margin-bottom: 8px; font-size: 10px; text-transform: uppercase; }

.add-comm__theme, .add-comm__txt { width: 475px; margin-bottom: 20px; border: 1px solid #adacac; font-family: Arial, Tahoma, sans-serif; }

.add-comm__theme { height: 24px; padding: 0 5px; }

.add-comm__txt { height: 180px; padding: 5px; }

.add-comm__btn { height: 28px; padding: 0 35px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0MjgyOCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYmMyYjJiIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNiMzE1MTUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ODBlMGUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d42828), color-stop(50%, #bc2b2b), color-stop(51%, #b31515), color-stop(100%, #980e0e)); background: -webkit-linear-gradient(#d42828 0%, #bc2b2b 50%, #b31515 51%, #980e0e 100%); background: -moz-linear-gradient(#d42828 0%, #bc2b2b 50%, #b31515 51%, #980e0e 100%); background: -o-linear-gradient(#d42828 0%, #bc2b2b 50%, #b31515 51%, #980e0e 100%); background: linear-gradient(#d42828 0%, #bc2b2b 50%, #b31515 51%, #980e0e 100%); border-radius: 2px; font-size: 10px; color: white; text-transform: uppercase; cursor: pointer; }
